<!DOCTYPE html>
<html>
<head><title>ROPC Grant Demo</title></head>
<body>
	<h2>OAuth2 Resource Owner Password Credentials Grant Demo</h2>
	<p>This flow uses username and password directly to obtain an access token.</p>
	<p><em>Warning: This grant type should only be used when there is a high degree of trust between the resource owner and the client.</em></p>
	<a href="/login"><button>Enter Credentials</button></a><br><br>
	<a href="/resource"><button>Access Protected Resource</button></a><br><br>
	<a href="/debug"><button>Debug Info</button></a>
</body>
</html>
